/**
 * This file is part of MBQS.
 *
 * MBQS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, version 3 of the License.
 *
 * MBQS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with MBQS. If not, see <https://www.gnu.org/licenses/>.
 */

.grammar {
	color: grey;
}

.grammar-rule {
	margin-bottom: 1em;
}

.grammar-alternative {
	margin-left: 2em;
}

.grammar-nonterminal {
	color: black;
	font-style: italic;
	margin: 0 1ex;
}

.grammar-token {
	color: black;
	font-family: monospace;
	margin: 0 .5ex;
}

.grammar-comment {
	font-style: italic;
}

.grammar-any {
	margin: 0 .5ex;
}

.grammar-syntax {
	font-family: monospace;
}
