/**
 * This file is part of MBQS.
 *
 * MBQS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, version 3 of the License.
 *
 * MBQS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with MBQS. If not, see <https://www.gnu.org/licenses/>.
 */

body {
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	font-family: 'DejaVu Sans', sans-serif;
	margin-top: 0;
	overflow: hidden !important;
}

.itasks-choice-list-option {
	cursor: default;
}

/* Some hacks to make sure the main tasks do not exceed 100% of the height; we
 * use scrollbars on subtasks. */
.mbqs-main {
	max-height: 100%;
}
.mbqs-main > .itasks-toolbar > div {
	height: 2em;
}
.mbqs-main > .itasks-sidebar-left {
	max-height: calc(100% - 2em);
}
.mbqs-main > .itasks-sidebar-left > .itasks-inner,
		.mbqs-main > .itasks-sidebar-left > .itasks-inner > .itasks-container {
	max-height: 100%;
}

kbd {
	background: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #fff;
	display: inline-block;
	font-family: inherit;
	font-size: 85%;
	margin: 0px 0.1em;
	padding: 0.3em 0.6em;
	text-shadow: 0 1px 0 #fff;
}

summary {
	cursor: pointer;
	margin-bottom: .5em;
	outline: none;
}

li {
	margin-bottom: .5em;
}

a {
	color: blue;
}

.small-caps {
	font-variant: small-caps;
}

.hidden {
	display: none;
}

input.invalid {
	background-color: #fcc;
	border-color: #f00;
}

div.itasks-toolbar {
	font-size: 0.85rem;
}

.hebrew,
	/* This is used in Gui.Sheet.UpgradeDataVersion, because we do not have
	 * fine-grained control over the layout of choice grids. */
	div.choicegrid-fourth-column-hebrew > .itasks-choicegrid-body > div > div:nth-child(4) {
	direction: rtl;
	font-family: 'SBL Hebrew';
	font-size: 130% !important;
	text-align: right;
}

.hebrew-with-morphology {
	cursor: default;
}
.hebrew-with-morphology:hover {
	background: rgba(255, 197, 61, 0.13);
	outline: 4px solid rgba(255, 197, 61, 0.13);
}

.welcome-background {
	background: #eee;
	display: block;
	height: calc(100% - 1px); /* 1px is the viewport border */
	position: absolute;
	width: 100%;
}

.welcome-view {
	background: rgba(255,255,255,0.9);
	border: 1px solid #ccc;
	border-radius: 1em;
	display: block;
	font-size: 120%;
	margin: 10em auto;
	padding: 2em;
	pointer-events: initial;
	position: relative;
}

.welcome-view h1 {
	margin: 0;
}

td.date {
	font-size: 8pt;
	white-space: nowrap;
}

td.tag {
	letter-spacing: -2pt;
	white-space: nowrap;
}

td.tag > span {
	font-size: 16pt;
}

/* Paul Tol's color scheme from https://davidmathlogic.com/colorblind, with black. */
td.tag > span.no-tag { color: transparent; }
td.tag > span.tag-1 { color: #332288; }
td.tag > span.tag-2 { color: #117733; }
td.tag > span.tag-3 { color: #44aa99; }
td.tag > span.tag-4 { color: #88ccee; }
td.tag > span.tag-5 { color: #ddcc77; }
td.tag > span.tag-6 { color: #cc6677; }
td.tag > span.tag-7 { color: #aa4499; }
td.tag > span.tag-8 { color: #882255; }
td.tag > span.tag-9 { color: #000000; }

.large {
	font-size: 180% !important;
}

.small {
	font-size: 80% !important;
}

.with-sup {
	line-height: 1.8em;
}

sup {
	position: relative;
	top: -.5em;
	vertical-align: baseline;
}

.english-text {
	position: relative; /* needed for scrolling logic */
}
.english-text > span {
	color: gray;
}

.english-text > span.current {
	color: black;
}

.grammar {
	margin: 0 2em;
}

.new-sheet-editor {
	flex: 0 0 auto !important;
	max-height: 100%;
	padding: 0 2em;
}

.new-sheet-editor input[type="text"], .new-sheet-editor select {
	flex-grow: 1 !important;
}

.handsontable thead th { /* column headers */
	font-weight: bold;
	text-align: left;
}

.handsontable tbody th { /* row headers */
	text-align: right;
}

.handsontable th:first-child, .handsontable td:first-child {
	border-left-width: 0;
}

.handsontable th:last-child, .handsontable td:last-child {
	border-right-width: 0;
}

.handsontable td.current-row {
	background: var(--canvas-base-color);
}

.mbqs-table {
	overflow: hidden;
}

.mbqs-table, .mbqs-table .itasks-panel {
	border-width: 0;
}

.mbqs-search {
	flex: 0 0 auto;
	position: relative;
}

.mbqs-search input {
	border-color: #ccc;
	border-style: solid;
	border-width: 0 0 1px 0;
	box-sizing: border-box;
	font-size: .8rem;
	height: 2.5em;
	padding: .5em 20px .5em .5em;
	width: 100%;
}

.mbqs-search .itasks-htmlview { /* the search icon */
	color: #666;
	position: absolute;
	right: 2px;
	top: 3px;
}

.table-contents thead tr:first-child th {
	border-top-width: 0; /* this border is given by the search bar */
}

.toolbox {
	border-width: 0;
	border-bottom: 1px solid #ccc;
	flex-grow: 1;
	font-size: .8rem;
	padding: 0;
	width: 100%;
}

.itasks-htmlview.toolbox-text {
	box-sizing: border-box;
	padding: 0 1em 1em 1em;
}

.toolbox > .itasks-inner > .itasks-choice-list {
	border: 0;
	flex-grow: 0;
}

#status-bar {
	align-self: flex-end;
	background: #eee;
	border-top: 1px solid #ccc;
	bottom: 0;
	box-sizing: border-box;
	flex: 0;
	height: 1.5em;
	left: 0;
	line-height: 1.5em;
	padding: 0 .6ex 0 0;
	width: 100%;
}

#status-bar > span {
	border-right: 1px solid #ccc;
	display: inline-block;
	float: left;
	padding: 0 .5em;
}

#status-bar > span:empty {
	display: none;
}

#status-busy {
	display: none;
}
