<!DOCTYPE html>
<!--
 - This file is part of MBQS.
 -
 - MBQS is free software: you can redistribute it and/or modify it under the
 - terms of the GNU Affero General Public License as published by the Free
 - Software Foundation, version 3 of the License.
 -
 - MBQS is distributed in the hope that it will be useful, but WITHOUT ANY
 - WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 - FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
 - more details.
 -
 - You should have received a copy of the GNU Affero General Public License
 - along with MBQS. If not, see <https://www.gnu.org/licenses/>.
 -->
<html style="width: 100%; height: 100%;">
<head>
	<meta charset="UTF-8">
	<title></title>

	<script>
		window.itasks={
			settings: {
				base_dir: '{%ITASKS_BASE_DIR%}', // Base directory of the application

				//stack_size: 512<<10, // ABC interpreter stack size, in bytes
				heap_size: 100<<20, // ABC interpreter heap size, in bytes
			}
		};
	</script>

	<link rel="stylesheet" href="/css/itasks-modules.css" type="text/css" >

	<!-- ABC interpreter -->
	<script src="/js/abc-interpreter.js"></script>

	<!-- iTasks framework -->
	<script src="/js/itasks-core.js"></script>
	<script src="/js/itasks-components-raw.js"></script>
	<script src="/js/itasks-components-form.js"></script>
	<script src="/js/itasks-components-display.js"></script>
	<script src="/js/itasks-components-selection.js"></script>
	<script src="/js/itasks-components-container.js"></script>

	<script src="/js/handsontable.full.min.js"></script>
	<link rel="stylesheet" href="/css/handsontable.full.min.css" type="text/css" >

	<link href="/css/fontawesome-free-all.min.css" rel="stylesheet" media="screen"/>

	<script src="/js/mbqs.js"></script>
	<link rel="stylesheet" href="/css/mbqs.css" type="text/css" >

	<link rel="stylesheet" href="/css/grammars.css" type="text/css" >

	<script type="text/javascript">
		const {ipcRenderer}=require ('electron');
		ipcRenderer.once ('connect',(ev,instanceNo,instanceKey) => {
			itasks.viewport ({
				syncTitle: true,
				attributes: {
					instanceNo: instanceNo,
					instanceKey: instanceKey
				}
			}, document.body);
		});
	</script>
</head>
<body style="width: 100%; height: 100%">
	<script src="/js/util.js"></script>
</body>
</html>
